body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    font-weight: 400;
    width: 100%;
    height: 500px;
}

nav {
    margin: 0px;
    border-bottom: 1px solid rgb(187, 187, 187);
    width: 100%;
    padding-bottom: 14px;

}

h2 {
    position: relative;
    top: 0;
    left: 54px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    
}

#dropbox{ 
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
    height: 55px;
}

#signup{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    padding-right: 20px;
    font-weight: 450;
}


#whole {
    position: relative;
    top: 40px;
    bottom: 80px;
    display: grid;
    place-items: center;
}


h3 {
    font-weight: 400;
    position: relative;
    right: 120px;
    font-size: 24px;
    margin-bottom: 0;
}

a {
    color: blue;
    position: relative;
    right: 80px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 30px;
}

.contbtn {
    font-weight: 550;
    width: 300px;
    padding: 8px;
    margin-bottom: 20px;
    display: block;
    border: 1px solid rgb(207, 207, 207);
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    font-family:  Helvetica, sans-serif;
    color: rgb(99, 99, 99);

    
}

.logo{
    height: 18px;
    float: left;
}

h6{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

#email {
    color: white;
}




label {
    position: relative;
    right: 131px;
    color: rgb(160, 160, 160);
    font-size: 14px;
    

}

form {
    width: 300px;
    height: 30px;
    border: 1px solid rgb(207, 207, 207);
    margin: 20px;
    margin-top: 2px;
}


#continue{
    background-color: #3d73e8;
    color: white;
    width: 300px;
    padding: 14px;
    border: 0px solid #3d73e8;
    font-weight: 600;
}


footer{

    align-items: center;
    background-color: black;
    color: white;
    padding: 160x;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;   
}

ul {
list-style-type: none;
}

li {

    float: left;
    color: white;
    text-align: center;
    padding: 18px;
}